h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    transform: rotate(-3deg);
    width: 60%;
    margin-bottom: 5%;
    margin-left: 5%;
}

h1:after {
    content: "";
    display: block;
    border-left: 60vw solid transparent;
    border-top: 10px solid #242424;
    border-right: 1vw solid transparent;
   }

@media only screen and (min-width: 768px) {

    h1 {
        font-size: xx-large;
    }

    h1:after {
        border-left: 60vw solid transparent;
    }
    
    iframe {
        height: 570px;
    }
}

@media only screen and (min-width: 1025px) {

    h1 {
        width: 17%;
    }

    h1:after {
        border-left: 18vw solid transparent;
    }

    iframe {
        height: 950px;
    }
}