<div class="about-events-gifts-container" id="info">
    <div class="about-container">
        <h2>About the Bride and Groom</h2>
        <p>Their love story begins when they met for the first time in the galley at 9 West Doen while both working as nurse aids on the burn unit for The Ohio State University Wexner Medical Center. Chris later sent Miranda a message on facebook to meet up. They hung out for the first time at Ugly Tuna on Halloween where they danced to the wobble all night. A couple years later, after college, they began dating after Chris brought Miranda Taco Bell and came to meet and be approved by Bojangles. </p>
    </div>
    <div class="about-img-container"><img src="../../assets/img/mirantopher.jpg"/></div>
    <div class="event-container" [ngClass]="{'center': isIEOrEdge}">
        <h2>Events</h2>
        <h4>June 20, 2020</h4>
        <p>Ceremony - 3:30PM @ Bryn Du Mansion<br>
            537 Jones Rd NE, Granville, OH 43023</p>
        <p>Reception to Follow</p>
        <p>For wedding gifts, our registry can be found here:</p>
        <a href="#">Wedding Gifts</a>
    </div>
</div>
