.center * {
    position: relative;
    top: 10%;
    padding: 3%;
}

.about-events-gifts-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 2;
}

.about-container {
    flex-basis: 55%;
    background-color: #003366;
}

.about-container h2 {
    font-family: 'Permanent Marker', cursive;
    padding: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: small;
}

.about-container p {
    padding: 10%;
    padding-bottom: 8%;
    padding-top: 5%;
    font-size: x-small;
}

.event-container {
    background-color: #003366;
    flex-basis: 41%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
    border-left: dotted white 1px;
    padding: 2%;
}

.event-container h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: small;
}

.about-img-container {
    display: none;
}

.event-container h4 {
    text-decoration: underline dotted;
    font-size: x-small;
}

.event-container p {
    font-size: x-small;
}

.event-container a {
    cursor: pointer;
    color: cornflowerblue;
    font-size: x-small;
}

.wedding-icons {
    display: flex;
    justify-content: space-evenly;
}

.wedding-icons div {
    border: solid 1px transparent;
}

fa-icon {
    color: #003366;
    font-size: 2rem;
}

.wedding-icons div p {
    font-family: 'Permanent Marker', cursive;
}

.wedding-icons div {
    display: flex;
    align-items: center;
    flex-basis: 23%;
    justify-content: space-around;
    padding: 2%;
}

.wedding-icons {
    margin-bottom: 2%;
}

.selected {
    opacity: 0.5;
    border: dashed 1px black !important;
}

span {
    font-weight: bold;
    font-size: small;
}


.gift-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    border: dashed 1px black;
}

.hotel-links {
    display: flex;
    justify-content: flex-end;
    margin: o auto;
    border: dashed 1px black;
    width: 99%;
}

.gift-links a, .hotel-links a {
    font-family: 'Permanent Marker', cursive;
    font-size: small;
}

.hotel-links a {
    padding-right: 3%;
}

.hotel-links div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    font-size: small;
}

.hotel-links p {
    font-size: x-small;
}

#hotel-notice {
    margin: 0 auto;
    margin-bottom: 3%;
    font-size: x-small;
    text-align: center;
}

b {
    font-family: 'Permanent Marker', cursive;
}

h3 {
    text-align: center;
    font-size: .7rem;
}

@media only screen and (min-width: 768px) {

    .center * {
        top: 5%;
    }

    .about-container h2, .event-container h2 {
        font-size: larger;
    }

    .about-container p, .event-container p, .event-container a, .event-container h4 {
        font-size: small;
    }

    .wedding-icons div {
        flex-basis: 18%;
    }

    .wedding-icons div p {
        font-size: 1.5rem;
    }

    #hotel-notice {
        font-size: medium;
    }

    span, .hotel-links p {
        font-size: large;
    }

    .hotel-links a, .gift-links a {
        font-size: x-large;
    }

    h3 {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1025px) {

    .center * {
        top: 10%;
    }

    .wedding-icons div:hover {
        opacity: 0.5;
        border: dashed 1px black;
    }
    
    .icon:hover {
        cursor: pointer;
    }

    .about-img-container {
        flex-basis: 40%;
        align-content: center;
        justify-content: center;
        display: flex;
    }

    .about-container {
        flex-basis: 25%;
    }

    .about-container h2 {
        font-size: inherit;
    }

    .about-container p {
        font-size: inherit;
    }

    .event-container {
        border: none;
        flex-basis: 25%;
        padding: 0;
    }

    .event-container h2 {
        font-size: inherit;
    }

    .event-container h4 {
        font-size: inherit;
    }

    .event-container p {
        font-size: inherit;
    }

    .event-container a {
        font-size: inherit;
    }

    .about-events-gifts-container {
        opacity: 0;
        margin-bottom: 2%;
    }

    fa-icon {
        font-size: 4rem;
    }

    .wedding-icons div {
        flex-basis: 10%;
    }

    .wedding-icons div p {
        font-size: 1.3rem;
    }

    .gift-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5%;
        border: dashed 1px black;
    }

    .hotel-links {
        display: flex;
        justify-content: flex-end;
        border: dashed 1px black;
        width: 50%;
        margin-left: 48%;
    }

    .gift-links a, .hotel-links a {
        font-family: 'Permanent Marker', cursive;
        font-size: 150%;
    }

    .hotel-links a {
        padding-right: 3%;
    }

    .hotel-links div {
        display: flex;
        flex-direction: column;
        padding-right: 3%;
        align-items: center;
        flex-basis: 50%;
    }

    #hotel-notice {
        margin-left: 48%;
    }

    h3 {
        font-size: 1.5rem;
    }
}