<nav>
    <p>Chris & Miranda</p>
    <div>
        <a appNavScroll>Home</a>
        <a appNavScroll>Info</a>
        <a appNavScroll>Bridesmaids</a>
        <a appNavScroll>Groomsmen</a>
        <a appNavScroll>Ring Bearers</a>
        <a appNavScroll>Dogs</a>
        <a href="https://forms.gle/6FRdN2QAYK4BTdex8" target="_blank">RSVP</a>
    </div>
    <div class="hamburger" *ngIf="isOpen === false" (click)="changeOpen()">
        <div class="bar-one"></div>
        <div class="bar-two"></div>
        <div class="bar-three"></div>
    </div>
    <div class="hamburger close" *ngIf="isOpen === true" (click)="changeOpen()">
        <div class="bar-one"></div>
        <div class="bar-three"></div>
    </div>
</nav>
<div class="hamburger-menu" *ngIf="isOpen === true" (click)="changeOpen()">
    <a appNavScroll>Home</a>
    <a appNavScroll>Info</a>
    <a appNavScroll>Bridesmaids</a>
    <a appNavScroll>Groomsmen</a>
    <a appNavScroll>Dogs</a>
    <a appNavScroll>RSVP</a>
</div>
