.browser-warning {
    background-color: yellow;
    font-weight: bold;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    display: flex;
    padding-left: 2%;
}

.browser-warning p {
    margin-right: 3%;
    cursor: pointer;
    padding: 0 2px 0 2px;
}

.browser-warning p:hover {
    background: rgba(0,0,0,0.3);
}

a:hover {
    background: rgba(25,25,112, 0.3);
}

.active {
    background: rgba(25,25,112,0.9);
}

.active a {
    color: #fff;
}
