<div class="nav-container" [@toggle]="getToggle()">
    <nav>
        <p>Chris & Miranda</p>
        <ul>
                <li [ngClass]="{'active': currentActive === 1}">
                  <a class="not-a-link" appNavScroll>Home</a>  
                </li>
                <li [ngClass]="{'active': currentActive === 2}">
                  <a class="not-a-link" appNavScroll>Info</a>  
                </li>
                <li [ngClass]="{'active': currentActive === 3}">
                  <a class="not-a-link" appNavScroll>Bridesmaids</a>  
                </li>
                <li [ngClass]="{'active': currentActive === 4}">
                  <a class="not-a-link" appNavScroll>Groomsmen</a>  
                </li>
                <li [ngClass]="{'active': currentActive === 5}">
                  <a class="not-a-link" appNavScroll>Ring Bearers</a>  
                </li>
                <li [ngClass]="{'active': currentActive === 6}">
                  <a class="not-a-link" appNavScroll>Dogs</a>  
                </li>
                <li [ngClass]="{'active': currentActive === 7}">
                  <a class="not-a-link" appNavScroll>Social</a>  
                </li>
                <li>
                  <a id="rsvpLink" href="https://forms.gle/6FRdN2QAYK4BTdex8" target="_blank">RSVP</a>  
                </li>
            </ul>
        <div class="hamburger" *ngIf="isOpen === false" (click)="changeOpen()">
            <div class="bar-one"></div>
            <div class="bar-two"></div>
            <div class="bar-three"></div>
        </div>
        <div class="hamburger close" *ngIf="isOpen === true" (click)="changeOpen()">
            &times;
        </div>
    </nav>
    <div *ngIf="isIEOrEdge" class="browser-warning"><span>Please use <a href="https://www.google.com/chrome/" target="_blank">Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> for the best experience.</span><p (click)="closeWarning()">&times;</p></div>
    <div class="hamburger-menu" *ngIf="isOpen === true" (click)="changeOpen()">
            <a class="not-a-link" appNavScroll>Home</a>
            <a class="not-a-link" appNavScroll>Info</a>
            <a class="not-a-link" appNavScroll>Bridesmaids</a>
            <a class="not-a-link" appNavScroll>Groomsmen</a>
            <a class="not-a-link" appNavScroll>Dogs</a>
            <a class="not-a-link" appNavScroll>Social</a>
            <a href="https://forms.gle/6FRdN2QAYK4BTdex8" target="_blank">RSVP</a>
    </div>
</div>