.bridesmaids {
    width: 90%;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
}

.bridesmaids img {
    width: 15%;
    align-self: flex-end;
    cursor: pointer;
}

.bridesmaids img:hover {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}