.tile {
    border: solid 2px;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    height: 350px;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

#detail {
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
}

.tile img {
    max-height: 600px;
}
