.tile {
    border: solid 2px;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    height: 290px;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.tile p {
    font-size: x-small;
}

#detail {
    width: 55%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: xx-small;
}

.tile img {
    max-height: 600px;
}

@media only screen and (min-width: 768px) {
    
    #detail {
        font-size: small;
    }

    b {
        font-size: larger;
    }

    .tile {
        height: 300px;
        margin-top: 12%;
        margin-bottom: 10%;
    }

    .tile p {
        font-size: medium;
    }

}

@media only screen and (min-width: 1025px) {

    .tile {
        width: 55%;
        height: 350px;
        margin-top: 6%;
        margin-bottom: 5%;
    }

    .tile p {
        font-size: inherit;
    }

    #detail {
        font-size: small;
    }

    .person-nicknames {
        font-size: small;
    }
}