<app-bridesmaids id="bridesmaids" [people]="bridesmaids" [isBridesmaids]="true" (selectHero)="select($event)"></app-bridesmaids>
<div class="tile" *ngIf="selectedPerson == null"><p>Select a hero for more info...</p></div>
<div class="tile" *ngIf="selectedPerson != null">
    <img src="{{selectedPerson.imgSrc}}" [ngStyle]="{'width': getDetailSize(selectedPerson)}"/>
    <p id="detail"><b>{{selectedPerson.name}}</b><br>
        <i class="person-nicknames" *ngIf="selectedPerson.nicknames != null">{{selectedPerson.nicknames}}</i><br *ngIf="selectedPerson.nicknames != null">
        <i>{{selectedPerson.relation}}</i><br>
        {{selectedPerson.description}}</p>
    </div>
<app-bridesmaids id="groomsmen" [people]="groomsmen" [isBridesmaids]="false" (selectHero)="select($event)"></app-bridesmaids>
