.tile {
    border: solid 2px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    height: 290px;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.tile p {
    font-size: small;
}

#detail {
    width: 75%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: x-small;
}

.tile img {
    max-height: 600px;
}

@media only screen and (min-width: 768px) {
    
    #detail {
        font-size: .9rem !important;
    }

    b {
        font-size: larger;
    }

    .tile {
        height: 300px;
        margin-top: 10%;
        margin-bottom: 8%;
    }

    .tile p {
        font-size: medium;
    }

}

@media only screen and (min-width: 996px) {

    .tile {
        width: 55%;
        height: 350px;
        margin-top: 6%;
        margin-bottom: 2%;
    }

    .tile p {
        font-size: inherit;
    }

    #detail {
        font-size: inherit;
    }

    .person-nicknames {
        font-size: small;
    }
}