h2 {
    text-align: center;
    margin-top: 5%;
    text-decoration: underline dotted;
    font-size: large;
    font-family: 'Permanent Marker', cursive;
}

p {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    margin-top: .5%;
    font-size: x-small;
}

.ringbearer-img-container {
    display: block;
    margin-top: 2%;
    text-align: center;
}

img {
    width: 35%;
}

@media only screen and (min-width: 768px) {

    img {
        width: 25%;
    }

    p {
        font-size: small;
    }

}

@media only screen and (min-width: 996px) {

    img {
        width: 15%;
    }

    p {
        font-size: inherit;
    }

    h2 {
        font-size: xx-large;
    }

}