 <div class="nav-container" appNavFix>
    <nav>
        <p>Chris & Miranda</p>
        <a appNavScroll>Home</a>
        <a appNavScroll>About</a>
        <a appNavScroll>Bridesmaids</a>
        <a appNavScroll>Groomsmen</a>
        <a routerLink="/home" routerLinkActive="active">Dogs</a>
        <a routerLink="/home" routerLinkActive="active">Events</a>
        <a routerLink="/home" routerLinkActive="active">Gifts</a>
        <a routerLink="/home" routerLinkActive="active">RSVP</a>
    </nav>
 </div>
<router-outlet></router-outlet>
<head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap" rel="stylesheet">
</head>

   
