<h1>Best Dogs of Honor</h1>
<div class="border-container">
    <div class="dog-container bo-container" id="dogs">
        <img src="../../assets/img/bobo.png"/> 
        <div class="dog-info-container">
            <h3>Bojangles (Bo)</h3>
            <p class="nicknames"><i>Bo-Bee-Bop, Bo-bean, Bean-boy, Black bean</i></p>
            <p>Miranda found Bo on facebook when he was 4 years old and instantly fell in love with him. The first time he met Chris, he ripped up a newspaper in front of him. He had never done this before. It was as if he was trying to show him who's boss! Bo is an American Black Lab, who is now 8, loves walks, cheese, and pillows (and howling with their roommate, Zach).</p>
        </div>
    </div>
</div>
<div class="border-container">
    <div class="dog-container">
        <div class="dog-info-container">
            <h3>Nashville (Nash)</h3>
            <p class="nicknames"><i>Nash-Nash, Nash-bean, Jumpin'-bean, Nash-com-poop, Nashy</i></p>
            <p>Nash found Chris while he was walking Bo around Nashville, TN and <i>had</i> to follow them home. Miranda received a text telling her about the little guy while she was at work. She immediately told all of her co-workers that she would convince Chris to keep him. They looked for Nash's original home for a month, but finally Chris caved. Nash is a 3 year old Boston mix who has a wiggly butt and loves licking nose holes.</p>
        </div>
        <img src="../../assets/img/nashynash.png"/>
    </div>
</div>
<h2>#DreamComeTornero</h2>