:host {
    display: block;
    background-color: #242424;
    padding-bottom: 5%;
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 3%, 100% 0, 100% 96%, 0 100%);
}

.dog-container {
    width: 95%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px black dashed;
    height: 200px;
}

.dog-container img {
    width: 47%;
    margin-right: 3%;
}

h1 {
    margin-top: 5%;
    text-align: center;
    color: #fff;
    padding-top: 3%;
    margin-bottom: 3%;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
}

.dog-info-container {
    width: 65%;
    margin-right: 2%;
}

.dog-info-container:nth-child(1) {
    margin-left: 3%;
    width: 70%;
    margin-right: 0;
}

.dog-container img:nth-child(2) {
    width: 43%;
}

.border-container {
    width: 100%;
    margin: 0 auto;
    padding: .5%;
    background-color: #fff;
    border-radius: 10%;
    margin-bottom: 5%;
}

.nicknames {
    font-size: small;
}

h3 {
    font-size: medium;
}

.dog-info-container p {
    font-size: x-small;
}

h2 {
    font-weight: bold;
    text-align: right;
    margin-right: 2%;
    margin-bottom: 2%;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 1rem;
}

@media only screen and (min-width: 768px) {

    .dog-info-container h3 {
        font-size: x-large
    }

    .dog-info-container p {
        font-size: small;
    }

    h1 {
        font-size: x-large;
    }

    .nicknames {
        width: 107%;
    }

    .bo-container img {
        width: 30% !important;
    }

    h2 {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 1025px) {

    h1 {
        font-size: xx-large;
    }

    .border-container {
        width: 55%;
    }

    .dog-container img {
        width: 30%;
        margin-right: 2%;
    }

    .dog-info-container {
        margin-right: 0;
    }

    h3 {
        font-size: medium;
    }

    .dog-info-container p {
        font-size: small;
    }

    .dog-container img:nth-child(2) {
        width: 55%;
    }

    h2 {
        margin-bottom: 0;
    }
}