/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

html {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 47%, rgba(156,255,237,1) 58%, rgba(147,233,190,1) 100%);
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 5%;
    cursor: pointer;
}

nav p {
    font-family: 'Permanent Marker', cursive;
    margin-left: 2%;
    font-size: 1.5rem;
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #93eac0;
}

nav div {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}
