/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

html {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 60%, rgba(156,255,237,1) 80%, rgba(147,233,190,1) 100%);
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

nav a {
    text-decoration: none;
    color: #003366;
    margin-right: 5%;
    cursor: pointer;
}

nav p {
    font-family: 'Permanent Marker', cursive;
    margin-left: 2%;
    font-size: medium;
    color: #003366;
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #93eac0;
    z-index: 1;
}

nav div {
    display: none;
}

.hamburger {
    display: flex;
    width: 5%;
    height: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 3%;
    cursor: pointer;
}

.hamburger div {
    display: inherit;
    width: 100%;
    height: 3px;
    background-color: #036;
    margin: 1%;
}

.hamburger-menu {
    position: fixed;
    top: 3.8%;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #93eac0;
    width: 45%;
    text-align: center;
    border: solid 1px;
    border-top: none;
}

.hamburger-menu a {
    cursor: pointer;
    border-bottom: dashed navy 1.5px;
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.hamburger-menu a:last-child {
    border: none;
}

.close .bar-one {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
}

.close .bar-three {
    -webkit-transform: rotate(45deg) translate(-25%, -150%);
    transform: rotate(45deg) translate(-25%,-150%);
}

footer {
    text-align: right;
    margin-right: 1%;
    font-size: xx-small;
}

@media only screen and (min-width: 768px) {

    nav p {
        font-size: x-large;
    }

    .hamburger {
        width: 3%;
        height: 25px;
    }

    .close .bar-three {
        -webkit-transform: rotate(45deg) translate(-25%, -225%);
        transform: rotate(45deg) translate(-25%,-225%);
    }

    footer {
        font-size: x-small;
    }

}


@media only screen and (min-width: 996px) {

    .hamburger {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }

    nav p {
        font-size: 1.5rem;
    }

    nav div {
        flex: 3;
        display: flex;
        justify-content: flex-end;
    }

    footer {
        font-size: small;
    }
}
