img {
    width: 100%;
    height: 100%;
}

.banner {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #003366;
    margin-top: 5%;
}

.banner img {
    width: 100%;
}

.banner-headline {
    font-family: 'Permanent Marker', cursive;
    color: #fff;
}

.info-container {
    display: none;
}


@media only screen and (min-width: 996px) {
    
    .info-container {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: 'Permanent Marker', cursive;
    }

    .banner img {
        width: 70%;
    }
}